node_modules/
.env
storage/
dist/
package-lock.json
coverage/
.pnp.*
.yarn/
test.patch
server.log
backtesting_data/
.DS_Store
*.csv
logs/
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
analysis/reports/successful_signals_actual_tp_analysis.html
analysis/reports/threshold_optimization_report.json
analysis/reports/threshold_optimization_report.html
analysis/reports/threshold_optimization_binary.html
